$primary = #1baeae
$base_font = .133333rem

fj($type=space-between)
    display flex
    justify-content $type



wh($width,$height)
    width $width
    height $height


border-1px($border-color=$primary)
    position relative
    &::before
        content ''
        position absolute
        left 0
        right 0
        height 1px
        background-color $border-color
        bottom 0
        background-color $primary
        transform scaleY(50%)
        transform-origin 50% 100%