.loginFrame {
	font-family: serif;
    width: 250px;
    height: 450px;
    background: #c8c8c8;
    /*元素上下左右都居中*/
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    padding: 0 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.loginFrame  div {
    width: 150px;
    height: 20px;
    margin: 40px auto;
    color: black;
}

.loginFrame  p {
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #292929;
}

.loginFrame  div span {
    display: inline-block;
    cursor: pointer;
}

.loginFrame  div input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color:rgb(13, 13, 13);

}

.loginFrame .modify {
    width: 250px;
    height: 80px;
    position: relative;

}


input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #0c0c0c;
}

button{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, #333333, #333333);
    text-align: center;
    /* padding-top: 10px; */
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
}

#feedback{
    position: absolute;
    display:inline-block;
    width: 250px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    left: 6px;
    bottom: 2px;
}

.loginFrame {
	font-family: serif;
    width: 250px;
    height: 450px;
    background: #c8c8c8;
    /*元素上下左右都居中*/
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    padding: 0 0;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.loginFrame  div {
    width: 150px;
    height: 20px;
    margin: 40px auto;
    color: black;
}

.loginFrame  p {
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #292929;
}

.loginFrame  div span {
    display: inline-block;
    cursor: pointer;
}

.loginFrame  div input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color:rgb(13, 13, 13);

}

.loginFrame .modify {
    width: 250px;
    height: 80px;
    position: relative;

}


input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #0c0c0c;
}

button{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, #333333, #333333);
    text-align: center;
    /* padding-top: 10px; */
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
}

#feedback{
    position: absolute;
    display:inline-block;
    width: 250px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    left: 6px;
    bottom: 2px;
}

